root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  # path output binary (hasil build)
  bin = "./tmp/main"                  # bisa di tmp agar tidak ganggu source
  cmd = "go build -o ./tmp/main ./cmd/web"
  full_bin = ""
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata"]
  exclude_regex = ["_test.go"]
  include_ext = ["go", "tpl", "tmpl", "html"]
  kill_delay = "0s"
  log = "build-errors.log"
  rerun = false
  rerun_delay = 10000
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  enabled = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
