DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
DATABASE_NAME=
JWT_SECRET=
JWT_HOUR=
ENVIRONMENT=
API_PORT=

EMAIL_USERNAME=
EMAIL_PASSWORD=


FILESYSTEM_DRIVER=
LOCAL_STORAGE_PATH=
LOCAL_STORAGE_PATH_TRASH=

REDIS_ROLES_KEY=
REDIS_ROLE_KEY=